USE [cth]
GO
/****** Object:  Table [dbo].[students]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](50) NULL,
	[semail] [nvarchar](50) NULL,
	[susn] [nvarchar](50) NULL,
	[spass] [nvarchar](50) NULL,
	[smobile] [nvarchar](50) NULL,
	[resume] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officer]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officer](
	[uid] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes_videos]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes_videos](
	[nvid] [int] IDENTITY(1,1) NOT NULL,
	[utype] [nvarchar](50) NULL,
	[title] [nvarchar](max) NULL,
	[fname] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobmaster]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobmaster](
	[jid] [int] IDENTITY(1,1) NOT NULL,
	[jcid] [int] NULL,
	[jrole] [nvarchar](max) NULL,
	[jdesc] [nvarchar](max) NULL,
	[jdate] [datetime] NULL,
	[jstatus] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobapplications]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobapplications](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[ajid] [int] NULL,
	[asusn] [nvarchar](50) NULL,
	[around] [nvarchar](50) NULL,
	[astatus] [nvarchar](50) NULL,
	[atest] [nvarchar](max) NULL,
	[aupload] [nvarchar](50) NULL,
	[aresult] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 12/21/2025 20:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NULL,
	[cemail] [nvarchar](50) NULL,
	[cpass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Default [DF_jobapplications_around]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobapplications] ADD  CONSTRAINT [DF_jobapplications_around]  DEFAULT ('Applied') FOR [around]
GO
/****** Object:  Default [DF_applications_astatus]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobapplications] ADD  CONSTRAINT [DF_applications_astatus]  DEFAULT ('Apply') FOR [astatus]
GO
/****** Object:  Default [DF_jobapplications_atest]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobapplications] ADD  CONSTRAINT [DF_jobapplications_atest]  DEFAULT ('') FOR [atest]
GO
/****** Object:  Default [DF_jobapplications_aupload]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobapplications] ADD  CONSTRAINT [DF_jobapplications_aupload]  DEFAULT ('') FOR [aupload]
GO
/****** Object:  Default [DF_jobapplications_aresult]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobapplications] ADD  CONSTRAINT [DF_jobapplications_aresult]  DEFAULT ('') FOR [aresult]
GO
/****** Object:  Default [DF_jobmaster_jdate]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobmaster] ADD  CONSTRAINT [DF_jobmaster_jdate]  DEFAULT (getdate()) FOR [jdate]
GO
/****** Object:  Default [DF_jobmaster_jstatus]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[jobmaster] ADD  CONSTRAINT [DF_jobmaster_jstatus]  DEFAULT ('Active') FOR [jstatus]
GO
/****** Object:  Default [DF_students_smobile]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [DF_students_smobile]  DEFAULT ('') FOR [smobile]
GO
/****** Object:  Default [DF_students_resume]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [DF_students_resume]  DEFAULT ('') FOR [resume]
GO
/****** Object:  Default [DF_students_status]    Script Date: 12/21/2025 20:16:14 ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [DF_students_status]  DEFAULT ('wait') FOR [status]
GO
