USE [cth]
GO
/****** Object:  Table [dbo].[students]    Script Date: 12/17/2025 01:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](50) NULL,
	[semail] [nvarchar](50) NULL,
	[susn] [nvarchar](50) NULL,
	[spass] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officer]    Script Date: 12/17/2025 01:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officer](
	[uid] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes_videos]    Script Date: 12/17/2025 01:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes_videos](
	[nvid] [int] IDENTITY(1,1) NOT NULL,
	[utype] [nvarchar](50) NULL,
	[title] [nvarchar](max) NULL,
	[fname] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 12/17/2025 01:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NULL,
	[cemail] [nvarchar](50) NULL,
	[cpass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Default [DF_students_status]    Script Date: 12/17/2025 01:32:36 ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [DF_students_status]  DEFAULT ('wait') FOR [status]
GO
